body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  border: 2px solid #444;
  padding: 30px;
  border-radius: 20px;
  background: #222;
}
a {
  color: #4ef;
  text-decoration: none;
}
a:hover {
  color: #0ff;
}
